In [78]:
! pip install psycopg2-binary
from sqlalchemy import create_engine 
engine = create_engine('postgresql+psycopg2://stock:stock@172.28.0.24:5432/stock_predicting')
#df.to_sql('quotes', engine)
engine.connect()

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.10/site-packages (2.9.5)

In [2]:
# Функция для подключения к БД
def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except:
        print(f"The error occurred")
    return connection

In [3]:
connection = create_connection(
    "stock_predicting", "stock", "stock", "172.30.0.3", "5432"
)

The error occurred

In [4]:
connection.autocommit = True
cursor = connection.cursor()

AttributeError: 'NoneType' object has no attribute 'autocommit'

In [32]:
#sql = '''INSERT INTO companies (id, ticker) VALUES (1,'YNDX'),(2,'SBER'), (3,'GAZP');'''
#cursor.execute(sql)

In [92]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import sklearn.pipeline as pipe
from sklearn.model_selection import train_test_split
import datetime as dt

In [93]:
df = pd.read_csv("~/work/YNDX_221101_221224.csv")
df = df.drop('<PER>', axis=1)
df['company_id'] = 1
df = df.drop('<TICKER>', axis=1)
df[['date_','time_','open_','high_','low_','close_','vol_']] = df[['<DATE>','<TIME>','<OPEN>','<HIGH>','<LOW>','<CLOSE>','<VOL>']]
df = df.drop(['<DATE>','<TIME>','<OPEN>','<HIGH>','<LOW>','<CLOSE>','<VOL>'], axis=1)
#df.index.names = ['id']

df2 = pd.read_csv("~/work/GAZP_221101_221224.csv")
df2 = df2.drop('<PER>', axis=1)
df2['company_id'] = 3
df2 = df2.drop('<TICKER>', axis=1)
df2[['date_','time_','open_','high_','low_','close_','vol_']] = df2[['<DATE>','<TIME>','<OPEN>','<HIGH>','<LOW>','<CLOSE>','<VOL>']]
df2 = df2.drop(['<DATE>','<TIME>','<OPEN>','<HIGH>','<LOW>','<CLOSE>','<VOL>'], axis=1)
#df2.index.names = ['id']

df3 = pd.read_csv("~/work/SBER_221101_221224.csv")
df3 = df3.drop('<PER>', axis=1)
df3['company_id'] = 2
df3 = df3.drop('<TICKER>', axis=1)
df3[['date_','time_','open_','high_','low_','close_','vol_']] = df3[['<DATE>','<TIME>','<OPEN>','<HIGH>','<LOW>','<CLOSE>','<VOL>']]
df3 = df3.drop(['<DATE>','<TIME>','<OPEN>','<HIGH>','<LOW>','<CLOSE>','<VOL>'], axis=1)
#df3.index.names = ['id']

In [94]:
frames = [df, df2, df3]
result = pd.concat(frames)

In [95]:
result2 = result.sort_values(by=['company_id'], ascending=True).reset_index(drop = True)

In [96]:
result2.index.names = ['id']
#result2.head()
#print(result2.to_string())

In [97]:
result2['date_time'] = pd.to_datetime(result2['date_']+' '+result2['time_'], format = '%d/%m/%y %H:%M')
result2["date_"] = result2["date_time"].dt.date
result2["time_"] = result2["date_time"].dt.time
aggregate_data = result2
result2 = result2.drop('date_time', axis=1)
result2.head(20)
#print(result2.to_string())

    company_id       date_     time_   open_   high_    low_  close_    vol_
id
0            1  2022-11-01  10:00:00  2118.8  2132.2  2112.0  2124.8  128960
1            1  2022-12-07  23:00:00  1976.2  1977.6  1975.2  1976.4    3927
2            1  2022-12-07  22:00:00  1975.4  1977.2  1975.0  1976.6    2504
3            1  2022-12-07  21:00:00  1978.4  1979.6  1975.0  1976.4    4170
4            1  2022-12-07  20:00:00  1978.0  1980.0  1976.0  1979.6    3137
5            1  2022-12-07  19:00:00  1983.0  1983.8  1975.0  1977.4    4056
6            1  2022-12-07  18:00:00  1978.0  1984.0  1977.0  1984.0   11798
7            1  2022-12-07  17:00:00  1968.2  1984.0  1965.0  1978.0   30153
8            1  2022-12-07  16:00:00  1975.6  1978.2  1962.0  1967.6   42277
9            1  2022-12-07  15:00:00  1973.6  1981.4  1970.0  1975.4   31379
10           1  2022-12-07  14:00:00  1977.8  1977.8  1973.0  1973.4   13276
11           1  2022-12-07  13:00:00  1973.8  1981.0  1973.8  1977.2   12290
12           1  2022-12-07  12:00:00  1980.8  1981.0  1972.0  1973.8   15728
13           1  2022-12-07  11:00:00  1982.6  1983.8  1978.0  1982.2   15976
14           1  2022-12-07  10:00:00  1989.4  1989.8  1974.0  1983.0   27719
15           1  2022-12-06  23:00:00  1988.2  1989.4  1985.4  1989.4    3472
16           1  2022-12-06  22:00:00  1985.0  1988.8  1984.0  1987.2    4568
17           1  2022-12-06  21:00:00  1991.0  1991.0  1977.2  1985.0   15700
18           1  2022-12-06  20:00:00  1991.4  1992.0  1986.4  1991.0    4911
19           1  2022-12-06  19:00:00  1998.2  1998.2  1990.4  1992.0    9706

In [88]:
result2.index = np.arange(19201, 19201+len(result2))
result2.index.names = ['id']
result2.head()

,company_id,date_,time_,open_,high_,low_,close_,vol_
id,,,,,,,,
19201,1,2022-11-01,10:00:00,2118.8,2132.2,2112.0,2124.8,128960
19202,1,2022-12-07,23:00:00,1976.2,1977.6,1975.2,1976.4,3927
19203,1,2022-12-07,22:00:00,1975.4,1977.2,1975.0,1976.6,2504
19204,1,2022-12-07,21:00:00,1978.4,1979.6,1975.0,1976.4,4170
19205,1,2022-12-07,20:00:00,1978.0,1980.0,1976.0,1979.6,3137

In [89]:
#result2.index.names = ['id']
db_conn=engine.connect()
result2.to_sql('quotes', db_conn, if_exists= 'append')

596

In [98]:

aggregate_data['quotes_id'] = aggregate_data.index
aggregate_data.head()

,company_id,date_,time_,open_,high_,low_,close_,vol_,date_time,quotes_id
id,,,,,,,,,,
0,1,2022-11-01,10:00:00,2118.8,2132.2,2112.0,2124.8,128960,2022-11-01 10:00:00,0
1,1,2022-12-07,23:00:00,1976.2,1977.6,1975.2,1976.4,3927,2022-12-07 23:00:00,1
2,1,2022-12-07,22:00:00,1975.4,1977.2,1975.0,1976.6,2504,2022-12-07 22:00:00,2
3,1,2022-12-07,21:00:00,1978.4,1979.6,1975.0,1976.4,4170,2022-12-07 21:00:00,3
4,1,2022-12-07,20:00:00,1978.0,1980.0,1976.0,1979.6,3137,2022-12-07 20:00:00,4

In [99]:
aggregate_data['price_'] = (aggregate_data['open_']+aggregate_data['high_']+aggregate_data['low_']+aggregate_data['close_'])/4
aggregate_data['total_'] = aggregate_data['price_']*aggregate_data['vol_']
aggregate_data['weekday_'] = aggregate_data['date_time'].dt.weekday
aggregate_data['month_'] = aggregate_data['date_time'].dt.month
aggregate_data['hour_'] = aggregate_data['date_time'].dt.hour
aggregate_data['year_'] = aggregate_data['date_time'].dt.year
aggregate_data['day_'] = aggregate_data['date_time'].dt.day

aggregate_data = aggregate_data.drop(['high_','open_','low_','close_','date_','time_','vol_','company_id'],axis=1)
aggregate_data.head()

,date_time,quotes_id,price_,total_,weekday_,month_,hour_,year_,day_
id,,,,,,,,,
0,2022-11-01 10:00:00,0,2121.95,2.736467e+08,1,11,10,2022,1
1,2022-12-07 23:00:00,1,1976.35,7.761126e+06,2,12,23,2022,7
2,2022-12-07 22:00:00,2,1976.05,4.948029e+06,2,12,22,2022,7
3,2022-12-07 21:00:00,3,1977.35,8.245550e+06,2,12,21,2022,7
4,2022-12-07 20:00:00,4,1978.40,6.206241e+06,2,12,20,2022,7

In [100]:
aggregate_data.index = np.arange(19201, 19201+len(aggregate_data))
aggregate_data.index.names = ['id']
aggregate_data.head()

,date_time,quotes_id,price_,total_,weekday_,month_,hour_,year_,day_
id,,,,,,,,,
19201,2022-11-01 10:00:00,0,2121.95,2.736467e+08,1,11,10,2022,1
19202,2022-12-07 23:00:00,1,1976.35,7.761126e+06,2,12,23,2022,7
19203,2022-12-07 22:00:00,2,1976.05,4.948029e+06,2,12,22,2022,7
19204,2022-12-07 21:00:00,3,1977.35,8.245550e+06,2,12,21,2022,7
19205,2022-12-07 20:00:00,4,1978.40,6.206241e+06,2,12,20,2022,7

In [101]:
aggregate_data.to_sql('aggregate_data', db_conn, if_exists= 'append')

596

In [44]:
text1 = pd.read_csv("~/work/yndx.csv")
text1['company_id'] = 1
text1['date_time'] = pd.to_datetime(text1['date_']+' '+text1['time_'], format = '%d-%m-%Y %H:%M')
text1 = text1.drop(['date_','time_'], axis=1)

text2 = pd.read_csv("~/work/gazp.csv")
text2['company_id'] = 3
text2['date_time'] = pd.to_datetime(text2['date_']+' '+text2['time_'], format = '%d-%m-%Y %H:%M')
text2 = text2.drop(['date_','time_'], axis=1)

text3 = pd.read_csv("~/work/sber.csv")
text3['company_id'] = 2
text3['date_time'] = pd.to_datetime(text3['date_']+' '+text3['time_'], format = '%d-%m-%Y %H:%M')
text3 = text3.drop(['date_','time_'], axis=1)

In [45]:
frames2 = [text1, text2, text3]
text4 = pd.concat(frames2)

In [46]:
text4.head()

,title,content,company_id,date_time
0,Мегафон запустил сервис оплаты офлайн-покупок ...,Мегафон запустил в розничной сети сервис оплат...,1,2022-10-28 19:00:00
1,Курьеры-партнеры Delivery Club получат бесплат...,Яндекс бесплатно застрахует курьеров-партнеров...,1,2022-10-25 16:00:00
2,Яндекс обеспечит курьеров зонами отдыха,Яндекс совместно с партнёрами торговыми центра...,1,2022-09-19 16:00:00
3,Яндекс завершил сделку с VK по покупке Deliver...,Компания Яндекс закрыла сделку по покупке серв...,1,2022-09-12 13:00:00
4,Доставляют все: куда движется рынок доставки е...,Эксперты фиксируют рост там где ждали падения,1,2022-09-07 10:00:00

In [47]:
text4 = text4.sort_values(by=['company_id'], ascending=True).reset_index(drop = True)

In [48]:
text4.index.names = ['id']
text4.head()

,title,content,company_id,date_time
id,,,,
0,Мегафон запустил сервис оплаты офлайн-покупок ...,Мегафон запустил в розничной сети сервис оплат...,1,2022-10-28 19:00:00
1,ЯндексЕда и Лавка поддержат партнеров в нового...,Сервисы Яндекс Еда и Лавка выделят более 25 ми...,1,2021-12-24 14:00:00
2,В ЯндексТакси рассказали о технологиях для сни...,Зимой ситуация на дорогах осложняется для кажд...,1,2021-12-30 17:00:00
3,Доход курьеров Яндекса в новогодние праздники ...,Доход сотрудничающих с Яндексом курьеров и сбо...,1,2022-01-11 18:00:00
4,ФАС и Яндекс заключили мировое соглашение по д...,Федеральная антимонопольная служба (ФАС) Яндек...,1,2022-01-19 21:00:00

In [36]:
text4.to_sql('news', db_conn, if_exists= 'append')

77

In [49]:
augment = text4
augment['text_a'] = augment['title']+' '+augment['content']
augment = augment.drop(['title','content','company_id'], axis=1)
augment.head()

             date_time                                             text_a
id
0  2022-10-28 19:00:00  Мегафон запустил сервис оплаты офлайн-покупок ...
1  2021-12-24 14:00:00  ЯндексЕда и Лавка поддержат партнеров в нового...
2  2021-12-30 17:00:00  В ЯндексТакси рассказали о технологиях для сни...
3  2022-01-11 18:00:00  Доход курьеров Яндекса в новогодние праздники ...
4  2022-01-19 21:00:00  ФАС и Яндекс заключили мировое соглашение по д...

In [50]:
augment['news_id'] = augment.index
augment.head()

,date_time,text_a,news_id
id,,,
0,2022-10-28 19:00:00,Мегафон запустил сервис оплаты офлайн-покупок ...,0
1,2021-12-24 14:00:00,ЯндексЕда и Лавка поддержат партнеров в нового...,1
2,2021-12-30 17:00:00,В ЯндексТакси рассказали о технологиях для сни...,2
3,2022-01-11 18:00:00,Доход курьеров Яндекса в новогодние праздники ...,3
4,2022-01-19 21:00:00,ФАС и Яндекс заключили мировое соглашение по д...,4

In [51]:
!pip install -U deep-translator
from deep_translator import GoogleTranslator

Requirement already satisfied: deep-translator in /opt/conda/lib/python3.10/site-packages (1.9.1)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /opt/conda/lib/python3.10/site-packages (from deep-translator) (2.28.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /opt/conda/lib/python3.10/site-packages (from deep-translator) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.10/site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.3.2.post1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.1.1)

In [56]:
augment2 = augment
augment2['text_c'], augment['text_b'] =' ',' '
augment2.head()

,date_time,text_a,news_id,text_c,text_b
id,,,,,
0,2022-10-28 19:00:00,Мегафон запустил сервис оплаты офлайн-покупок ...,0,,
1,2021-12-24 14:00:00,ЯндексЕда и Лавка поддержат партнеров в нового...,1,,
2,2021-12-30 17:00:00,В ЯндексТакси рассказали о технологиях для сни...,2,,
3,2022-01-11 18:00:00,Доход курьеров Яндекса в новогодние праздники ...,3,,
4,2022-01-19 21:00:00,ФАС и Яндекс заключили мировое соглашение по д...,4,,

In [57]:
for i in augment.index:
    augment2['text_c'][i] = GoogleTranslator(source='russian', target='polish').translate(augment['text_a'][i])
    augment['text_b'][i] = GoogleTranslator(source='polish', target='russian').translate(augment2['text_c'][i])
augment.head()

/tmp/ipykernel_185/418699829.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  augment2['text_c'][i] = GoogleTranslator(source='russian', target='polish').translate(augment['text_a'][i])
/tmp/ipykernel_185/418699829.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  augment['text_b'][i] = GoogleTranslator(source='polish', target='russian').translate(augment2['text_c'][i])

,date_time,text_a,news_id,text_c,text_b
id,,,,,
0,2022-10-28 19:00:00,Мегафон запустил сервис оплаты офлайн-покупок ...,0,Megafon uruchomił usługę płatności na raty za ...,Мегафон запустил сервис рассрочки для офлайн-п...
1,2021-12-24 14:00:00,ЯндексЕда и Лавка поддержат партнеров в нового...,1,YandexEda i Lavka będą wspierać partnerów podc...,ЯндексЕда и Лавка поддержат партнеров в нового...
2,2021-12-30 17:00:00,В ЯндексТакси рассказали о технологиях для сни...,2,YandexTaxi mówił o technologiach zmniejszający...,"ЯндексТакси рассказал о технологиях, снижающих..."
3,2022-01-11 18:00:00,Доход курьеров Яндекса в новогодние праздники ...,3,Dochody kurierów Yandex podczas świąt noworocz...,Доход курьеров Яндекса в новогодние праздники ...
4,2022-01-19 21:00:00,ФАС и Яндекс заключили мировое соглашение по д...,4,Federalna Służba Antymonopolowa (FAS) Yandex i...,Федеральная антимонопольная служба (ФАС) Яндек...

In [58]:
augment = augment.drop('text_c', axis=1)
augment.head()

,date_time,text_a,news_id,text_b
id,,,,
0,2022-10-28 19:00:00,Мегафон запустил сервис оплаты офлайн-покупок ...,0,Мегафон запустил сервис рассрочки для офлайн-п...
1,2021-12-24 14:00:00,ЯндексЕда и Лавка поддержат партнеров в нового...,1,ЯндексЕда и Лавка поддержат партнеров в нового...
2,2021-12-30 17:00:00,В ЯндексТакси рассказали о технологиях для сни...,2,"ЯндексТакси рассказал о технологиях, снижающих..."
3,2022-01-11 18:00:00,Доход курьеров Яндекса в новогодние праздники ...,3,Доход курьеров Яндекса в новогодние праздники ...
4,2022-01-19 21:00:00,ФАС и Яндекс заключили мировое соглашение по д...,4,Федеральная антимонопольная служба (ФАС) Яндек...

In [64]:
augment.to_sql('augment', db_conn, if_exists= 'append')

77

In [11]:
result2 = result2.drop(['company_id','date_','time_'], axis=1)
result2.head()

     open_   high_    low_  close_    vol_
id
0   4605.0  4642.8  4598.0  4605.2  118331
1   4545.0  4568.0  4545.0  4565.0   64905
2   4543.0  4555.0  4535.6  4544.8   33400
3   4533.4  4545.0  4527.8  4543.0   52379
4   4528.6  4534.8  4511.2  4533.4   34942

In [14]:
aggregate_data.head()

,date_time,price_,total_,weekday_,month_,hour_,year_,day_
id,,,,,,,,
0,2020-10-29 10:00:00,4612.75,5.458313e+08,3,10,10,2020,29
1,2022-01-04 13:00:00,4555.75,2.956910e+08,1,1,13,2022,4
2,2022-01-04 12:00:00,4544.60,1.517896e+08,1,1,12,2022,4
3,2022-01-04 11:00:00,4537.30,2.376592e+08,1,1,11,2022,4
4,2022-01-04 10:00:00,4527.00,1.581824e+08,1,1,10,2022,4

In [17]:
merged=result2.join(aggregate_data)
#merged = pd.merge(result2, aggregate_data, right_index=True)  
merged.head()

,open_,high_,low_,close_,vol_,date_time,price_,total_,weekday_,month_,hour_,year_,day_
id,,,,,,,,,,,,,
0,4605.0,4642.8,4598.0,4605.2,118331,2020-10-29 10:00:00,4612.75,5.458313e+08,3,10,10,2020,29
1,4545.0,4568.0,4545.0,4565.0,64905,2022-01-04 13:00:00,4555.75,2.956910e+08,1,1,13,2022,4
2,4543.0,4555.0,4535.6,4544.8,33400,2022-01-04 12:00:00,4544.60,1.517896e+08,1,1,12,2022,4
3,4533.4,4545.0,4527.8,4543.0,52379,2022-01-04 11:00:00,4537.30,2.376592e+08,1,1,11,2022,4
4,4528.6,4534.8,4511.2,4533.4,34942,2022-01-04 10:00:00,4527.00,1.581824e+08,1,1,10,2022,4

In [20]:
merged = merged.drop('date_time', axis=1)
merged.head()

,open_,high_,low_,close_,vol_,price_,total_,weekday_,month_,hour_,year_,day_
id,,,,,,,,,,,,
0,4605.0,4642.8,4598.0,4605.2,118331,4612.75,5.458313e+08,3,10,10,2020,29
1,4545.0,4568.0,4545.0,4565.0,64905,4555.75,2.956910e+08,1,1,13,2022,4
2,4543.0,4555.0,4535.6,4544.8,33400,4544.60,1.517896e+08,1,1,12,2022,4
3,4533.4,4545.0,4527.8,4543.0,52379,4537.30,2.376592e+08,1,1,11,2022,4
4,4528.6,4534.8,4511.2,4533.4,34942,4527.00,1.581824e+08,1,1,10,2022,4

In [19]:
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle

In [20]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from urllib.parse import urlparse

In [28]:
test_size = 0.33
seed = 7
X = merged.drop(["price_"], axis=1)
Y = merged[["price_"]]

In [29]:
X.head()

,open_,high_,low_,close_,vol_,total_,weekday_,month_,hour_,year_,day_
id,,,,,,,,,,,
0,4605.0,4642.8,4598.0,4605.2,118331,5.458313e+08,3,10,10,2020,29
1,4545.0,4568.0,4545.0,4565.0,64905,2.956910e+08,1,1,13,2022,4
2,4543.0,4555.0,4535.6,4544.8,33400,1.517896e+08,1,1,12,2022,4
3,4533.4,4545.0,4527.8,4543.0,52379,2.376592e+08,1,1,11,2022,4
4,4528.6,4534.8,4511.2,4533.4,34942,1.581824e+08,1,1,10,2022,4

In [30]:
Y.head()

     price_
id
0   4612.75
1   4555.75
2   4544.60
3   4537.30
4   4527.00

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=test_size,random_state=seed)

In [33]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [34]:
with open("model.pkl", "wb") as f:
    pickle.dump(model, f)

In [35]:
predicted_qualities = model.predict(X_test)

In [38]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    r2 = r2_score(actual, pred)
    return rmse, mae, r2

In [40]:
(rmse, mae, r2) = eval_metrics(Y_test, predicted_qualities)

print("  RMSE: %s" % rmse)
print("  MAE: %s" % mae)
print("  R2: %s" % r2)

  RMSE: 6.381960074607807e-08
  MAE: 3.994568565037793e-08
  R2: 1.0

In [110]:
import psycopg2
import pandas.io.sql as sqlio
conn = psycopg2.connect(
    host="172.28.0.24",
    database="stock_predicting",
    user="stock",
    password="stock",
    port="5432"
)
cursor = conn.cursor()
array = sqlio.read_sql_query(f'select date_, time_, open_ from quotes where company_id = {1} order by date_ desc, time_ desc limit 100;', conn)

/tmp/ipykernel_470/419603166.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  array = sqlio.read_sql_query(f'select date_, time_, open_ from quotes where company_id = {1} order by date_ desc, time_ desc limit 100;', conn)

In [111]:
array.head()

        date_     time_   open_
0  2022-11-01  10:00:00  2118.8
1  2022-10-28  23:00:00  2019.0
2  2022-10-28  22:00:00  2019.6
3  2022-10-28  21:00:00  2016.4
4  2022-10-28  20:00:00  2018.6

In [112]:
array2 = sqlio.read_sql_query(f'select open_, high_, low_, close_, vol_ from quotes where company_id = {1} order by date_ desc, time_ desc limit 6;', conn)

/tmp/ipykernel_470/3421087070.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  array2 = sqlio.read_sql_query(f'select open_, high_, low_, close_, vol_ from quotes where company_id = {1} order by date_ desc, time_ desc limit 6;', conn)

In [113]:
array2.head(10)

    open_   high_    low_  close_      vol_
0  2118.8  2132.2  2112.0  2124.8  128960.0
1  2019.0  2021.8  2018.4  2021.8    6504.0
2  2019.6  2019.8  2016.0  2019.8    4187.0
3  2016.4  2019.8  2016.2  2019.6    3639.0
4  2018.6  2021.0  2016.6  2016.6    4879.0
5  2022.6  2025.0  2014.6  2017.0   12683.0

In [114]:
array3 = sqlio.read_sql_query(f'select total_,weekday_,month_,hour_,year_,day_ from aggregate_data where quotes_id IN (select id from quotes where company_id = {1} order by date_ desc, time_ desc limit 6) order by date_time desc;', conn)

/tmp/ipykernel_470/4003629192.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  array3 = sqlio.read_sql_query(f'select total_,weekday_,month_,hour_,year_,day_ from aggregate_data where quotes_id IN (select id from quotes where company_id = {1} order by date_ desc, time_ desc limit 6) order by date_time desc;', conn)

In [115]:
array5 = sqlio.read_sql_query(f'select price_ from aggregate_data where quotes_id IN (select id from quotes where company_id = {1} order by date_ desc, time_ desc limit 12 offset 6) order by date_time desc;', conn)
array3.head(10)

/tmp/ipykernel_470/1762451947.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  array5 = sqlio.read_sql_query(f'select price_ from aggregate_data where quotes_id IN (select id from quotes where company_id = {1} order by date_ desc, time_ desc limit 12 offset 6) order by date_time desc;', conn)

       total_  weekday_  month_  hour_  year_  day_
0  13139706.0         4      10     23   2022    28
1   8452716.0         4      10     22   2022    28
2   7343502.0         4      10     21   2022    28
3   9846798.0         4      10     20   2022    28
4  25617124.0         4      10     19   2022    28

In [116]:
array4=array2.join(array3)
array4.head(10)

,open_,high_,low_,close_,vol_,total_,weekday_,month_,hour_,year_,day_
0,2118.8,2132.2,2112.0,2124.8,128960.0,13139706.0,4.0,10.0,23.0,2022.0,28.0
1,2019.0,2021.8,2018.4,2021.8,6504.0,8452716.0,4.0,10.0,22.0,2022.0,28.0
2,2019.6,2019.8,2016.0,2019.8,4187.0,7343502.0,4.0,10.0,21.0,2022.0,28.0
3,2016.4,2019.8,2016.2,2019.6,3639.0,9846798.0,4.0,10.0,20.0,2022.0,28.0
4,2018.6,2021.0,2016.6,2016.6,4879.0,25617124.0,4.0,10.0,19.0,2022.0,28.0
5,2022.6,2025.0,2014.6,2017.0,12683.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
model2 = pickle.load(open("model.pkl", "rb"))

In [31]:
prediction = model2.predict(array4)
print(prediction)

[[2020.25000004]
 [2018.80000004]
 [2018.00000004]
 [2018.20000004]
 [2019.80000004]
 [2021.00000004]]

In [32]:
avg_value_pred=0
for i in prediction:
    avg_value_pred+=i
avg_value_pred=(avg_value_pred/len(prediction))
print(avg_value_pred)

[2019.34166671]

In [35]:
array5.head(10)

    price_
0  2016.70
1  2014.50
2  2014.30
3  2019.40
4  2012.30
5  1998.50
6  1995.15
7  1995.80
8  2021.45
9  2023.80

In [37]:
avg_last = array5['price_'].mean()
print(avg_last)

2013.6166666666666

In [41]:
differents = avg_value_pred[0] - avg_last
print(differents)

5.72500004006497

In [69]:
#print(prediction)

prediction_text = "The predicted prices is {}".format(prediction)
print(prediction_text)

The predicted prices is [[2020.25000004]
 [2018.80000004]
 [2018.00000004]
 [2018.20000004]
 [2019.80000004]
 [2021.00000004]]

In [71]:
!pip install flask
from flask import Flask, jsonify, abort, make_response, request, render_template

Collecting flask
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.5/101.5 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: Jinja2>=3.0 in /opt/conda/lib/python3.10/site-packages (from flask) (3.1.2)
Collecting Werkzeug>=2.2.2
  Downloading Werkzeug-2.2.2-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.7/232.7 kB 7.0 MB/s eta 0:00:00
Requirement already satisfied: click>=8.0 in /opt/conda/lib/python3.10/site-packages (from flask) (8.1.3)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from Jinja2>=3.0->flask) (2.1.1)
Installing collected packages: Werkzeug, itsdangerous, flask
Successfully installed Werkzeug-2.2.2 flask-2.2.2 itsdangerous-2.1.2

In [89]:
#prediction2 = set(prediction)
a_set = set()
for i in prediction:
    a_set.update(set(i))
print(a_set)
#jsonfor=jsonify({prediction})

{2018.800000040013, 2018.2000000397354, 2020.2500000398663, 2018.000000040256, 2019.8000000400873, 2021.0000000404314}

In [98]:
y = [round(i,2) for i in a_set]

In [99]:
print(y)

[2018.8, 2018.2, 2020.25, 2018.0, 2019.8, 2021.0]

In [105]:
y1 =str(y)
print(y1)
y1.type()

[2018.8, 2018.2, 2020.25, 2018.0, 2019.8, 2021.0]

AttributeError: 'str' object has no attribute 'type'

In [ ]:
from finam import Exporter, Market, Timeframe

exporter = Exporter()
ticker = 'SBER'
asset = exporter.lookup(name=ticker, market=Market.SHARES)
asset_id = asset[asset['name'] == ticker].index[0]
data = exporter.download(asset_id, market=Market.SHARES)

In [51]:
import datetime
from datetime import datetime
now = datetime.now()
nowdate = now.date()
#print(nowdate.replace('-', '.'))
#datetime.datetime(2009, 1, 6, 15, 8, 24, 78915)
nowdate2 = datetime.strptime(str(nowdate), "%Y-%m-%d")
nowdate3 = nowdate2.strftime('%d.%m.%Y')
print(nowdate3)

24.12.2022

In [71]:
!pip install wget
from urllib.request import Request, urlopen
from urllib.parse import urlencode
from urllib.request import urlopen
from datetime import datetime
import wget
#пользовательские переменные
ticker="YNDX" #задаём тикер
period=7 # задаём период. Выбор из: 'tick': 1, 'min': 2, '5min': 3, '10min': 4, '15min': 5, '30min': 6, 'hour': 7, 'daily': 8, 'week': 9, 'month': 10
start = "01.11.2022" #с какой даты начинать тянуть котировки
start1=datetime.strptime(start, "%d.%m.%Y")
start1=start1.strftime('%d.%m.%Y')
end = str(nowdate3) #финальная дата, по которую тянуть котировки
########
periods={'tick': 1, 'min': 2, '5min': 3, '10min': 4, '15min': 5, '30min': 6, 'hour': 7, 'daily': 8, 'week': 9, 'month': 10}
print ("ticker="+ticker+"; period="+str(period)+"; start="+start+"; end="+end)
#каждой акции Финам присвоил цифровой код:
tickers={'ABRD':82460,'AESL':181867,'AFKS':19715,'AFLT':29,'AGRO':399716,'AKRN':17564,'ALBK':82616,'ALNU':81882,'ALRS':81820,'AMEZ':20702,'APTK':13855,'AQUA':35238,'ARMD':19676,'ARSA':19915,'ASSB':16452,'AVAN':82843,'AVAZ':39,'AVAZP':40,'BANE':81757,'BANEP':81758,'BGDE':175840,'BISV':35242,'BISVP':35243,'BLNG':21078,'BRZL':81901,'BSPB':20066,'CBOM':420694,'CHEP':20999,'CHGZ':81933,'CHKZ':21000,'CHMF':16136,'CHMK':21001,'CHZN':19960,'CLSB':16712,'CLSBP':16713,'CNTL':21002,'CNTLP':81575,'DASB':16825,'DGBZ':17919,'DIOD':35363,'DIXY':18564,'DVEC':19724,'DZRD':74744,'DZRDP':74745,'ELTZ':81934,'ENRU':16440,'EPLN':451471,'ERCO':81935,'FEES':20509,'FESH':20708,'FORTP':82164,'GAZA':81997,'GAZAP':81998,'GAZC':81398,'GAZP':16842,'GAZS':81399,'GAZT':82115,'GCHE':20125,'GMKN':795,'GRAZ':16610,'GRNT':449114,'GTLC':152876,'GTPR':175842,'GTSS':436120,'HALS':17698,'HIMC':81939,'HIMCP':81940,'HYDR':20266,'IDJT':388276,'IDVP':409486,'IGST':81885,'IGST03':81886,'IGSTP':81887,'IRAO':20516,'IRGZ':9,'IRKT':15547,'ISKJ':17137,'JNOS':15722,'JNOSP':15723,'KAZT':81941,'KAZTP':81942,'KBSB':19916,'KBTK':35285,'KCHE':20030,'KCHEP':20498,'KGKC':83261,'KGKCP':152350,'KLSB':16329,'KMAZ':15544,'KMEZ':22525,'KMTZ':81903,'KOGK':20710,'KRKN':81891,'KRKNP':81892,'KRKO':81905,'KRKOP':81906,'KROT':510,'KROTP':511,'KRSB':20912,'KRSBP':20913,'KRSG':15518,'KSGR':75094,'KTSB':16284,'KTSBP':16285,'KUBE':522,'KUNF':81943,'KUZB':83165,'KZMS':17359,'KZOS':81856,'KZOSP':81857,'LIFE':74584,'LKOH':8,'LNTA':385792,'LNZL':21004,'LNZLP':22094,'LPSB':16276,'LSNG':31,'LSNGP':542,'LSRG':19736,'LVHK':152517,'MAGE':74562,'MAGEP':74563,'MAGN':16782,'MERF':20947,'MFGS':30,'MFGSP':51,'MFON':152516,'MGNT':17086,'MGNZ':20892,'MGTS':12984,'MGTSP':12983,'MGVM':81829,'MISB':16330,'MISBP':16331,'MNFD':80390,'MOBB':82890,'MOEX':152798,'MORI':81944,'MOTZ':21116,'MRKC':20235,'MRKK':20412,'MRKP':20107,'MRKS':20346,'MRKU':20402,'MRKV':20286,'MRKY':20681,'MRKZ':20309,'MRSB':16359,'MSNG':6,'MSRS':16917,'MSST':152676,'MSTT':74549,'MTLR':21018,'MTLRP':80745,'MTSS':15523,'MUGS':81945,'MUGSP':81946,'MVID':19737,'NAUK':81992,'NFAZ':81287,'NKHP':450432,'NKNC':20100,'NKNCP':20101,'NKSH':81947,'NLMK':17046,'NMTP':19629,'NNSB':16615,'NNSBP':16616,'NPOF':81858,'NSVZ':81929,'NVTK':17370,'ODVA':20737,'OFCB':80728,'OGKB':18684,'OMSH':22891,'OMZZP':15844,'OPIN':20711,'OSMP':21006,'OTCP':407627,'PAZA':81896,'PHOR':81114,'PHST':19717,'PIKK':18654,'PLSM':81241,'PLZL':17123,'PMSB':16908,'PMSBP':16909,'POLY':175924,'PRFN':83121,'PRIM':17850,'PRIN':22806,'PRMB':80818,'PRTK':35247,'PSBR':152320,'QIWI':181610,'RASP':17713,'RBCM':74779,'RDRB':181755,'RGSS':181934,'RKKE':20321,'RLMN':152677,'RLMNP':388313,'RNAV':66644,'RODNP':66693,'ROLO':181316,'ROSB':16866,'ROSN':17273,'ROST':20637,'RSTI':20971,'RSTIP':20972,'RTGZ':152397,'RTKM':7,'RTKMP':15,'RTSB':16783,'RTSBP':16784,'RUAL':414279,'RUALR':74718,'RUGR':66893,'RUSI':81786,'RUSP':20712,'RZSB':16455,'SAGO':445,'SAGOP':70,'SARE':11,'SAREP':24,'SBER':3,'SBERP':23,'SELG':81360,'SELGP':82610,'SELL':21166,'SIBG':436091,'SIBN':2,'SKYC':83122,'SNGS':4,'SNGSP':13,'STSB':20087,'STSBP':20088,'SVAV':16080,'SYNG':19651,'SZPR':22401,'TAER':80593,'TANL':81914,'TANLP':81915,'TASB':16265,'TASBP':16266,'TATN':825,'TATNP':826,'TGKA':18382,'TGKB':17597,'TGKBP':18189,'TGKD':18310,'TGKDP':18391,'TGKN':18176,'TGKO':81899,'TNSE':420644,'TORS':16797,'TORSP':16798,'TRCN':74561,'TRMK':18441,'TRNFP':1012,'TTLK':18371,'TUCH':74746,'TUZA':20716,'UCSS':175781,'UKUZ':20717,'UNAC':22843,'UNKL':82493,'UPRO':18584,'URFD':75124,'URKA':19623,'URKZ':82611,'USBN':81953,'UTAR':15522,'UTII':81040,'UTSY':419504,'UWGN':414560,'VDSB':16352,'VGSB':16456,'VGSBP':16457,'VJGZ':81954,'VJGZP':81955,'VLHZ':17257,'VRAO':20958,'VRAOP':20959,'VRSB':16546,'VRSBP':16547,'VSMO':15965,'VSYD':83251,'VSYDP':83252,'VTBR':19043,'VTGK':19632,'VTRS':82886,'VZRZ':17068,'VZRZP':17067,'WTCM':19095,'WTCMP':19096,'YAKG':81917,'YKEN':81766,'YKENP':81769,'YNDX':388383,'YRSB':16342,'YRSBP':16343,'ZHIV':181674,'ZILL':81918,'ZMZN':556,'ZMZNP':603,'ZVEZ':82001}
FINAM_URL = "https://www.finam.ru/profile/moex-akcii/pllc-yandex-n-v/export/" # сервер, на который стучимся
market = 1 #можно не задавать. Это рынок, на котором торгуется бумага. Для акций работает с любой цифрой. Другие рынки не проверял.
#Делаем преобразования дат:
start_date = datetime.strptime(start, "%d.%m.%Y").date()
start_date_rev=datetime.strptime(start, '%d.%m.%Y').strftime('%Y%m%d')
end_date = datetime.strptime(end, "%d.%m.%Y").date()
end_date_rev=datetime.strptime(end, '%d.%m.%Y').strftime('%Y%m%d')
start_date1 = start1
end_date1 = nowdate3
#Все параметры упаковываем в единую структуру. Здесь есть дополнительные параметры, кроме тех, которые заданы в шапке. См. комментарии внизу:
params = urlencode([
    ('market', market), #на каком рынке торгуется бумага
    ('em', tickers[ticker]), #вытягиваем цифровой символ, который соответствует бумаге.
    ('code', ticker), #тикер нашей акции
    ('apply',0), #не нашёл что это значит. 
    ('df', start_date.day), #Начальная дата, номер дня (1-31)
    ('mf', start_date.month - 1), #Начальная дата, номер месяца (0-11)
    ('yf', start_date.year), #Начальная дата, год
    ('from', start_date1), #Начальная дата полностью
    ('dt', end_date.day), #Конечная дата, номер дня	
    ('mt', end_date.month - 1), #Конечная дата, номер месяца
    ('yt', end_date.year), #Конечная дата, год
    ('to', end_date1), #Конечная дата
    ('p', period), #Таймфрейм
    ('f', ticker+"_" + start_date_rev + "_" + end_date_rev), #Имя сформированного файла
    ('e', ".csv"), #Расширение сформированного файла
    ('cn', ticker), #ещё раз тикер акции	
    ('dtf', 4), #В каком формате брать даты. Выбор из 5 возможных. См. страницу https://www.finam.ru/profile/moex-akcii/sberbank/export/
    ('tmf', 4), #В каком формате брать время. Выбор из 4 возможных.
    ('MSOR', 0), #Время свечи (0 - open; 1 - close)	
    ('mstime', "on"), #Московское время	
    ('mstimever', 1), #Коррекция часового пояса	
    ('sep', 1), #Разделитель полей	(1 - запятая, 2 - точка, 3 - точка с запятой, 4 - табуляция, 5 - пробел)
    ('sep2', 1), #Разделитель разрядов
    ('datf', 1), #Формат записи в файл. Выбор из 6 возможных.
    ('at', 1)]) #Нужны ли заголовки столбцов

req = Request(
    url = FINAM_URL + "?" + params , #урл составлен!
    headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}
)
url = FINAM_URL + "?" + params
wget.download(req, './')
#url = "https://www.finam.ru/profile/moex-akcii/pllc-yandex-n-v/export/?market=1&em=388383&token=&code=YNDX&apply=0&df=29&mf=8&yf=2021&from=29.09.2021&dt=29&mt=9&yt=2022&to=29.10.2022&p=6&f=YNDX_210929_221029&e=.csv&cn=YNDX&dtf=4&tmf=4&MSOR=0&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
print("Стучимся на Финам по ссылке: "+url)
#txt=urlopen(req).read() #здесь лежит огромный массив данных, прилетевший с Финама.
#local_file = open('quotes.txt', "w") #задаём файл, в который запишем котировки.
#for line in txt: #записываем свечи строку за строкой. 
#    local_file.write(line.strip().decode( "utf-8" )+'\n')
#local_file.close()
print("Готово. Проверьте файл quotes.txt в папке где лежит скрипт")

Requirement already satisfied: wget in /opt/conda/lib/python3.10/site-packages (3.2)
ticker=YNDX; period=7; start=01.11.2022; end=24.12.2022

AttributeError: 'Request' object has no attribute 'decode'

In [ ]:
https://www.finam.ru/profile/moex-akcii/pllc-yandex-n-v/export/?market=1&em=388383&token=&code=YNDX&apply=0&df=29&mf=8&yf=2021&from=29.09.2021&dt=29&mt=9&yt=2022&to=29.10.2022&p=6&f=YNDX_210929_221029&e=.csv&cn=YNDX&dtf=4&tmf=4&MSOR=0&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1